@media screen and (max-width: 1024px){
    
    .container{
        max-width: 852px;
    }
    
    /* header */
    
    
    header .texto h1{
        font-size: 56px;
    }
    
    header .texto p{
        font-size: 16px;
    }

    /* qualidade-processos */
    
    .qualidade-processos .group-items{
        grid-template-columns: repeat(2, 1fr); 
    }

    /* oferecimento */
    .oferecimento{
        padding: 35px 2%;
    }

    .oferecimento p{
        font-size: 18px;
    }

    .oferecimento .box span{
        font-size: 14px;
    }
    
}