@media screen and (max-width: 1024px){ /*Laptop*/
    
    .container{
        max-width: 852px;
    }
    
    /* header */
    
    
    header .texto h1{
        font-size: 56px;
    }
    
    header .texto p{
        font-size: 16px;
    }

    /* qualidade-processos */
    
    .qualidade-processos .group-items{
        grid-template-columns: repeat(2, 1fr); 
    }

    /* oferecimento */
    .oferecimento{
        padding: 35px 2%;
    }

    .oferecimento p{
        font-size: 18px;
    }

    .oferecimento .box span{
        font-size: 14px;
    }

    /* gestão */

    .gestao .art1 .description{
        padding-right: 50px;
    }
    
    .gestao .art2 .description{
        padding-left: 56px;
    }
    
    .gestao article h2{
        font-size: 58px;
        line-height: 59px;
    }

    .gestao article img{
        max-width: 424px;
        width: 100%;  
    }

    /* referencias */  
    .referencias p{
        font-size: 18px;
    }
    
    .grid-group-empresas{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        max-width: 558px;
    }

    .grid-group-empresas .item-empresa{
        height: 96px;
    }
    
    .empresa1{
        grid-area:auto;
    }
    
    .empresa2{
        grid-area: auto;
    }
    
    .empresa3{
        grid-area: auto;
    }
    
    .empresa4{
        grid-area: auto;
    }
    
    .empresa5{
        grid-area: auto;
    }
    
    .empresa6{
        grid-area: auto;
    }
    
    .empresa7{
        grid-area: auto;
    }
    
    .empresa8{
        grid-area: auto;
    }
    
    .empresa9{
        grid-area: auto;
    }

    /* contato */

    .contato p{
        font-size: 18px;
    }

    /* footer */

    footer .listas ul{
        list-style-type: none;
        padding-right: 80px;
    }

    footer .listas ul:last-of-type{
        padding-right: 0;
    }

    
}

@media screen and (max-width: 768px){ /*Tablet*/
    /* gestao */  
    .gestao article{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .gestao article p{
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .gestao .art2{
        flex-direction: column-reverse;
    }
    
    .gestao .art1 .description{
        padding-right: 0;
        padding-left: 0;
    }
    
    .gestao .art2 .description{
        padding-left: 0;
        padding-right: 0;
    }

    .gestao article img{
        margin-bottom: 30px;
    }

    /* footer */
    
    footer .listas{
        flex-wrap: wrap; 
    }
    
    
    footer .listas ul{
        list-style-type: none;
        width: 50%;
        padding-right: 0;
        margin-top: 49px;
    }
    
    
}

@media screen and (max-width: 425px){ /*Mobiel L*/
    /* header */
    
    header .texto h1{
        font-size: 42px;
        text-align: center;
        line-height: 57px;
    }
    
    header .texto p{
        font-size: 12px;
        line-height: 23px;
        text-align: center;
    }

    /* qualidade-processo */

    .qualidade-processos .group-items{
        grid-template-columns: repeat(1, 1fr); 
    }
    
    .qualidade-processos h2{
        font-size: 24px;
    }
    
    .qualidade-processos .container > p{
        font-size: 12px;
        line-height: 22px;
    }

    /* oferecimento */

    .oferecimento p{
        font-size: 14px;
    }

    .oferecimento .box span{
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
    }
    
    .oferecimento h2{
        font-size: 36px;
    }
    
    .oferecimento .box{
        flex-direction: column;
    }
    
    .oferecimento .box img{
        margin-bottom: 40px;
        transform: rotate(90deg);
    }

    /* gestao */

    .gestao article p{
        line-height: 28px;
        margin-bottom: 48px;
        font-size: 14px;
    }

    .gestao article h2{
        font-size: 36px;
        line-height: 41px;
        margin-bottom: 16px;
    }

    .gestao article button{
        width: 100%;
    }

    .gestao .art1{
        margin-bottom: 40px;
    }

    .gestao{
        padding: 90px 2%;
    }

    /* referencias */

    .referencias h2{
        font-size: 36px;
    }

    .referencias p{
        font-size: 14px;
        line-height: 32px;
    }
    
    .grid-group-empresas{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        max-width: 170px;
    }

    /* contato */

    .contato{
        padding: 90px 2%;
    }
    
    .contato h2{
        font-size: 36px;
    }
    
    .contato p{
        font-size: 14px;
        line-height: 25px;
    }
    
    .contato button{
        padding: 15px 30px;
        font-size: 16px;
    }
    
    .contato button:hover{
        background-color: #ce2d2d;
        transform: scale(1.03);
    }
    
    
}